<?xml version="1.0" encoding="UTF-8"?>
<web-app id="sormas-rest-app" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>SORMAS Rest Interface</display-name>

	<security-role>
		<role-name>USER</role-name>
    </security-role>
	<security-role>
		<role-name>REST_EXTERNAL_VISITS_USER</role-name>
    </security-role>
	<security-role>
        <role-name>SURVEILLANCE_OFFICER</role-name>
    </security-role>
	<security-role>
        <role-name>HOSPITAL_INFORMANT</role-name>
    </security-role>
	<security-role>
        <role-name>CASE_OFFICER</role-name>
    </security-role>
	<security-role>
        <role-name>CONTACT_OFFICER</role-name>
    </security-role>
	
	<security-constraint>
		<display-name>secure all</display-name>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- mapped in glassfish-web.xml -->
			<role-name>USER</role-name>
			<role-name>REST_EXTERNAL_VISITS_USER</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>