<?xml version="1.0" encoding="UTF-8"?>
<web-app id="klientenverwaltung_app" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>SORMAS Rest Interface</display-name>

	<security-role>
		<role-name>USER</role-name>
    </security-role>
	<security-role>
		<role-name>ADMIN</role-name>
    </security-role>
	<security-role>
        <role-name>SURVEILLANCE_SUPERVISOR</role-name>
    </security-role>
	<security-role>
        <role-name>SURVEILLANCE_OFFICER</role-name>
    </security-role>
	<security-role>
        <role-name>INFORMANT</role-name>
    </security-role>
	<security-role>
        <role-name>CASE_SUPERVISOR</role-name>
    </security-role>
	<security-role>
        <role-name>CASE_OFFICER</role-name>
    </security-role>
	<security-role>
        <role-name>CONTACT_SUPERVISOR</role-name>
    </security-role>
	<security-role>
        <role-name>CONTACT_OFFICER</role-name>
    </security-role>
	<security-role>
        <role-name>RUMOR_MANAGER</role-name>
    </security-role>
	<security-role>
        <role-name>LAB_USER</role-name>
    </security-role>
	<security-role>
        <role-name>NATIONAL_USER</role-name>
    </security-role>
	
	<security-constraint>
		<display-name>secure all</display-name>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>sormasRealm</realm-name>
	</login-config>
</web-app>