vaadin-app-layout[primary-section="navbar"]::part(navbar)::before {
  background: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

vaadin-app-layout[primary-section="drawer"]::part(navbar)::before {
  background: var(--lumo-base-color);
}

vaadin-app-layout[primary-section="drawer"]::part(navbar) {
  box-shadow: 0 1px 0 0 var(--lumo-contrast-10pct);
}

vaadin-app-layout[primary-section="drawer"]:not([overlay])::part(drawer) {
  background: var(--lumo-shade-5pct);
  border: 0;
  box-shadow: 1px 0 0 0 var(--lumo-contrast-10pct), 1px 0 0 0 var(--lumo-base-color);
  z-index: 1;
}

vaadin-drawer-toggle[slot="navbar"] {
  color: var(--lumo-secondary-text-color);
}

::part(navbar) {
  min-height: var(--lumo-size-xl);
}

::part(drawer) {
  display: flex;
  flex-direction: column;
}

:host([active]) a{
	color: white !important;
	background: red !important;
}

a:active{
	color: red !important;
}

vaadin-scroller[slot="drawer"] {
 background: #0D6938;
  flex: 1;
  padding: var(--lumo-space-s);
}

vaadin-scroller[slot="drawer"][overflow~="top"] {
  border-top: 1px solid var(--lumo-contrast-10pct);
}

vaadin-scroller[slot="drawer"][overflow~="bottom"] {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}
[part='icon'], [part='icon']::after, [part='icon']::before{
	color: white !important;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

textarea{
	height: 40vh !important;
}

.emma{
	    width: 100%;
    justify-content: space-between;
}

.Sholadiv2{
	    display: flex;
}


.actions{
width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    }
    
    .campFilter{
    width:100%;
    display: flex;
    }
    
    .topdiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    
    .campDatFill{
    width:100%;
    display: flex;
    justify-content: space-between;
    }
    
    .actionLayout{
    display: flex;
    align-items: flex-end;
    }

    
    .subtabBackground{
        width: 100%;
        background: #434343;
        color: white;
    }
    
    .superDiv{
        display: flex;
    justify-content: space-between;
    width: 100%;
    }
    
    .anchDiv{
    display: flex;
    align-items: flex-end;
    }
    
    .communitydiv{
    display: flex;
    }
    
    .navScroller{
    background: green;
     color: white;
    }
    
    .menuNav{
    color: white !important; 
    }
    
    .menuNav:active{
    color: white;
    background: orange  
    }
    
    
    #menuItems:hover{
    background: orange;

    }
    
    vcf-nav-item#navitem {
    color: white;
}
    
     #menuItems:active {
    background: orange !important; 
    color: white !important;
    
    }

   .loginView{
   background-image: url("images/afghanistan-map.svg");
   background-color: white;
    background-repeat: no-repeat;
       background-size: cover;
   }
   
   .loginOverlay{
   background-color: rgba(8, 0, 113, 0.6);
   }

   .loginContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
   }

   .logoContainer{
    display: flex;
    justify-content: center;
   }

   .apmisDesc{
   display: flex;
   justify-content: center;
   }

   .apmisText{
   font-size: xx-large;
   text-align: center;
   color: white;
   }

   .loginfORM{
   display: flex;
       justify-content: center;
   }
#overviewTab{
margin-top: 15px;
}

:host{
color:white !important;
background-color: orange;
}

#label-vaadin-text-field-0, #label-vaadin-password-field-3{
	color: white;
	height:45px;
}

#input-vaadin-text-field-6, #input-vaadin-password-field-7 {
    --_lumo-text-field-overflow-mask-image: () !important;
    -webkit-mask-image: var(--_lumo-text-field-overflow-mask-image);
    border-radius: 5px;
    margin-left: -5px;
    border: 1px solid white !important;
    	color: white;
    
}

label {
    color: green !important;
}

a:active {
    color: white !important;
    background-color: orange !important;
}

a {
    color: white !important;
}


