@import url('./main-layout.css');

html {
      --lumo-primary-color: rgb(0, 143, 62);
      --lumo-primary-color-50pct: rgba(240, 143, 62, 0.5);
      --lumo-primary-color-10pct: rgba(240, 143, 62, 0.1);
      --lumo-shade: hsl(208, 0%, 43%);
      --lumo-shade-5pct: hsla(208, 0%, 43%, 0.05);
      --lumo-shade-10pct: hsla(208, 0%, 43%, 0.1);
      --lumo-shade-20pct: hsla(208, 0%, 43%, 0.2);
      --lumo-shade-30pct: hsla(208, 0%, 43%, 0.3);
      --lumo-shade-40pct: hsla(208, 0%, 43%, 0.4);
      --lumo-shade-50pct: hsla(208, 0%, 43%, 0.5);
      --lumo-shade-60pct: hsla(208, 0%, 43%, 0.6);
      --lumo-shade-70pct: hsla(208, 0%, 43%, 0.7);
      --lumo-shade-80pct: hsla(208, 0%, 43%, 0.8);
      --lumo-shade-90pct: hsla(208, 0%, 43%, 0.9);
      --lumo-primary-text-color: hsl(163, 100%, 34%);
      --lumo-error-color-50pct: hsla(0, 100%, 50%, 0.5);
      --lumo-error-color-10pct: hsla(0, 100%, 50%, 0.1);
      --lumo-success-color-50pct: hsla(159, 100%, 42%, 0.5);
      --lumo-success-color-10pct: hsla(159, 100%, 42%, 0.1);
      --lumo-error-color: hsl(0, 100%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 100%, 42%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-body-text-color: rgb(0, 0, 0);
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 1.75rem;
      --lumo-font-size-xxl: 1.375rem;
      --lumo-font-size-xl: 1.125rem;
      --lumo-font-size-l: 1rem;
      --lumo-font-size-m: 0.875rem;
      --lumo-font-size-s: 0.8125rem;
      --lumo-font-size-xs: 0.75rem;
      --lumo-font-size-xxs: 0.6875rem;
      --lumo-line-height-m: 1.8;
      --lumo-line-height-s: 1.5;
      --lumo-line-height-xs: 1.3;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-space-xl: 2.5rem;
      --lumo-space-l: 1.75rem;
      --lumo-space-m: 1.125rem;
      --lumo-space-s: 0.75rem;
      --lumo-space-xs: 0.375rem;

    }

