*.project
*.classpath
*.settings
*target
*.metadata
*.recommenders
*.idea
*.iml
/sormas-backend/bin
/sormas-rest/bin
/sormas-surveillance-ui/bin
/sormas-widgetset/bin
/deploy/bundles
deploy
/sormas-base/build.properties
/sormas-base/bin
/sormas-ui/bin

/sormas-ui/src/main/webapp/VAADIN/themes/sormas/addons.scss
/sormas-ui/src/main/webapp/VAADIN/themes/sormas/styles.css
*.jks
/sormas-app/keystore.properties
/sormas-app/java_pid21052.hprof
bin
/sormas-base/setup/setup.log
