
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.DS_Store*
.project
/settings/
Sormas-Testing.prj

# Exclude folder content (except .gitkeep)
Reports/*
!Reports/.gitkeep

Checkpoints/*
!Checkpoints/.gitkeep
