<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.symeda.sormas.app">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".SormasApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SormasTheme">

        <uses-library android:name="android.test.runner"
            android:required="false" />

        <activity android:name=".login.LoginActivity"
            android:theme="@style/LoginActivityTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".login.EnterPinActivity"
            android:theme="@style/SormasTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
        </activity>



        <activity android:name=".dashboard.DashboardActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".task.list.TaskListActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".task.edit.TaskEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".task.list.TaskListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".task.edit.TaskNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".task.list.TaskListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".sample.list.SampleListActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".sample.read.SampleReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".sample.list.SampleListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".sample.edit.SampleEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".sample.read.SampleReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".pathogentest.read.PathogenTestReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".sample.read.SampleReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".pathogentest.edit.PathogenTestNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".sample.read.SampleReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".pathogentest.edit.PathogenTestEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".pathogentest.read.PathogenTestReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".caze.list.CaseListActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".caze.read.CaseReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.list.CaseListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".caze.edit.CaseNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.list.CaseListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".caze.edit.CaseEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.read.CaseReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".report.aggregate.AggregateReportsActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".contact.edit.ContactNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".sample.edit.SampleNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".contact.list.ContactListActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".contact.read.ContactReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".contact.list.ContactListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".contact.edit.ContactEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".contact.read.ContactReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".visit.read.VisitReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".contact.read.ContactReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".visit.edit.VisitEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".contact.edit.ContactEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".visit.edit.VisitNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".contact.edit.ContactEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".event.list.EventListActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".event.read.EventReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".event.list.EventListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".event.eventparticipant.read.EventParticipantReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".event.read.EventReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".event.edit.EventEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".event.read.EventReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".event.eventparticipant.edit.EventParticipantNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".event.edit.EventEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".event.eventparticipant.edit.EventParticipantEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".event.edit.EventEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".event.edit.EventNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".event.list.EventListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".report.ReportActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:launchMode="singleTop" />

        <activity android:name=".therapy.read.PrescriptionReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.read.CaseReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".therapy.edit.PrescriptionEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".therapy.edit.PrescriptionNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".therapy.read.TreatmentReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.read.CaseReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".therapy.edit.TreatmentEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".therapy.edit.TreatmentNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".clinicalcourse.read.ClinicalVisitReadActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.read.CaseReadActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".clinicalcourse.edit.ClinicalVisitEditActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".clinicalcourse.edit.ClinicalVisitNewActivity"
            android:theme="@style/ActivityWithOverflowMenuTheme"
            android:parentActivityName=".caze.edit.CaseEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <!-- Only needed for androidTest - found no other way to manifest this -->
        <activity
            android:name=".TestBackendActivity" />

        <activity
            android:name=".barcode.BarcodeActivity" />

        <receiver
            android:name=".SormasBootstrap"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
             Optionally, register AnalyticsReceiver and AnalyticsService to support background
             dispatching on non-Google Play devices
        -->
        <!--<receiver-->
            <!--android:name="com.google.android.gms.analytics.AnalyticsReceiver"-->
            <!--android:enabled="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<service-->
            <!--android:name="com.google.android.gms.analytics.AnalyticsService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" />-->

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <!--<receiver-->
            <!--android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.android.vending.INSTALL_REFERRER" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:enabled="true"
            android:name=".core.TaskNotificationService" />

        <service
            android:enabled="true"
            android:name=".core.FeatureConfigurationService" />

        <!--<service android:name="com.google.android.gms.analytics.CampaignTrackingService" />-->
        <!--<service-->
            <!--android:name=".core.TaskNotificationService"-->
            <!--android:enabled="true" />-->

    </application>

</manifest>