<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.symeda.sormas.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SormasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sormas_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".caze.CasesActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".caze.CaseEditActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".caze.CasesActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".caze.CasesActivity" />
        </activity>
        <activity
            android:name=".caze.CaseNewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".caze.CasesActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".caze.CasesActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterPinActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible">
        </activity>
        <activity
            android:name=".task.TasksActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".task.TaskEditActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName=".task.TasksActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task.TasksActivity" />
        </activity>
        <activity
            android:name=".contact.ContactsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".contact.ContactNewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".contact.ContactsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contact.ContactsActivity" />
        </activity>
        <activity
            android:name=".contact.ContactEditActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".contact.ContactsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contact.ContactsActivity" />
        </activity>
        <activity
            android:name=".visit.VisitEditActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".contact.ContactEditActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contact.ContactEditActivity" />
        </activity>
        <activity
            android:name=".event.EventsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".event.EventEditActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".event.EventsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".event.EventsActivity" />
        </activity>
        <activity
            android:name=".event.EventNewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".event.EventsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".event.EventsActivity"/>
        </activity>
        <activity
            android:name=".event.EventParticipantEditActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".event.EventEditActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".event.EventEditActivity" />
        </activity>
        <activity
            android:name=".event.EventParticipantNewActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:parentActivityName=".event.EventEditActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".event.EventEditActivity" />
        </activity>
        <activity
            android:name=".sample.SamplesActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".sample.SampleEditActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".sample.SamplesActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sample.SamplesActivity" />
        </activity>

        <receiver
            android:name=".SormasBootstrap"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
             Optionally, register AnalyticsReceiver and AnalyticsService to support background
             dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name=".task.TaskNotificationService"
            android:enabled="true" />

        <activity android:name=".TestBackendActivity"></activity>
    </application>

</manifest>