<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ SORMAS® - Surveillance Outbreak Response Management & Analysis System
  ~ Copyright © 2016-2022 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<!--
  ~ SORMAS® - Surveillance Outbreak Response Management & Analysis System
  ~ Copyright © 2016-2022 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<!--
  ~ SORMAS® - Surveillance Outbreak Response Management & Analysis System
  ~ Copyright © 2016-2022 Helmholtz-Zentrum für Infektionsforschung GmbH (HZI)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>%boldMagenta(%d{yyyy-MM-dd' 'HH:mm:ss,SSS}) %highlight(%level)-> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGS_HTML" class="ch.qos.logback.core.FileAppender">
        <file>logs/log.html</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%thread%level%logger%msg</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>0</maxHistory>
            <totalSizeCap>30GB</totalSizeCap>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>500MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level - %msg%n</pattern>
        </encoder>
        <file>logs/file.log</file>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGS_HTML"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGS_HTML"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGS_HTML"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>

</configuration>