
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}