
@mixin sormas-button {

  .v-button {
    text-transform: uppercase;
    border-color: $v-selection-color;
    box-shadow: none;
  
  	&.v-button-link {
  	  text-transform: none;
  	}
  
  	&.v-button-font-size-large {
  	  font-size: 1.5em;
  	}  
  
    &.v-button-subtle {
  	  background-color: inherit;
    }
 
    &.v-button-border-neutral {
  	  border-color: #000000;
    }

    &.v-button-compact {
  	  padding: 0px;
  	  height: auto;
    }
 
    &.v-button-danger,
    &.v-button-critical {
      @include valo-button-style($background-color: $s-critical-color);
      border-color: darken($s-critical-color, 25%)
    }
 
    &.v-button-warning {
      @include valo-button-style($background-color: $s-warning-color);
      border-color: darken($s-warning-color, 25%)
    }
   
    &.v-button-filter {
      background-color: $v-focus-color;
      text-decoration: none;
      text-transform: none;
  	  font-weight: bold;
      color: $v-font-color;
      
      &.v-button-filter-light {
        background-color: $v-focus-light-color;
        
        &:hover {
          background-color: $v-focus-color;
        }
       
        &.v-disabled {
          background-color: $v-focus-light-color;	
        }
      }
     
      &.v-button-filter-dark {
      	background-color: $s-primary-color;
      	color: #FFFFFF;
      }
     
      &.v-button-filter-enabled {
      	background-color: #2eb82e;
      	  color: #FFFFFF;
      	
      	&:hover {
      	  background-color: #248f24;
      	}
      }
     
      &.v-button-filter-disabled {
      	background-color: #C8C8C8;
      	
      	&:hover {
      	  background-color: #B8B8B8;
      	}
      }
     
      &.v-button-filter-small {
      	height: 26px;
      	padding: 0px 7px;
      }
    }
    &.v-button-vertical-align-top, .vertical-align-top {
      vertical-align: top;
    }
  }
}