
@mixin sormas-button {

  .v-button {
    text-transform: uppercase;
    border-color: $v-selection-color;
    box-shadow: none;
  }
  
  .v-button-subtle {
  	background-color: inherit;
  }
 
  .v-button-border-neutral {
  	border-color: #000000;
  }
 
  .v-button-critical {
  	background-color: $s-critical-color;
  	border-color: $s-critical-color-shade;
  }
 
  .v-button-important {
  	background-color: $s-important-color;
  	border-color: $s-important-color-shade;
  }
 
  .v-button-neutral {
  	background-color: #FFFFFF;
  	border-color: #000000;
  	color: #000000;
  }
}
