
@mixin sormas-combobox {

  .v-filterselect {
  
    [class$="input"] {
      background-color: $v-background-color;
    }
    
    [class$="button"] {
      border-left: none;
    
      &::before {
        color: $v-font-color;
      }
    }
  
    &.v-readonly {
      height: inherit;
	  background: inherit;
      color: inherit;
	
	  .v-filterselect-input {
        border: none;
        padding: 0;
        background: inherit;
        color: inherit;
      }
            
      .v-filterselect-button {
        display: none;
      }
    }
   
   	&.soft-required,
   	&.v-required {
  	  .v-filterselect-input {
		border-color: $v-selection-color;
	  }
	}
  }
  
  .v-filterselect-suggestpopup {
    div[class*="page"] {
      @include opacity(.9);
      @include transform( scale(1.2) );
    }
    
    &:hover div[class*="page"] {
      @include transform( scale(1.4) );
    }    
    
    [class$="status"] {
      color: $v-font-color;
      font-size: $v-font-size;
      font-weight: bold;
    }
  }
}