
@mixin sormas-countelement {

  .count-element {
  	
  	> .v-slot:first-child {
  	  border-bottom: 4px solid;
  	}
  	 
  	&.important .v-slot {
  	  border-color: $s-important-color;
  	}
  	 
  	&.critical .v-slot {
  	  border-color: $s-critical-color;
  	}

    &.critical-transparent .v-slot {
	  border-color: $s-critical-transparent-color;
    }

    &.critical-more-transparent .v-slot {
	  border-color: $s-critical-more-transparent-color;
    }

  	&.relevant .v-slot {
  	  border-color: $s-relevant-color;
  	}
  	  
  	&.neutral .v-slot {
  	  border-color: $s-neutral-color;
  	}
  	 
  	&.positive .v-slot {
  	  border-color: $s-positive-color;
  	}
  	 
  	&.minor .v-slot {
  	  border-color: $s-minor-color;
  	}
  
    &.primary .v-slot {
      border-color: $s-primary-color;
    }
  }
}