
@mixin sormas-label {
	
  .v-label {
	// Font colors
	&.v-label-primary {
		color: $s-primary-color;
		font-weight: 600;
	}

	&.v-label-secondary {
		color: $s-secondary-color;
	}

	&.v-label-critical {
		color: $s-critical-color;
		font-weight: 600;
	}

	&.v-label-important {
		color: $s-important-color;
		font-weight: 600;
	}

	&.v-label-warning {
		color: $s-warning-color;
		font-weight: 600;
	}

	&.v-label-relevant {
		color: $s-relevant-color;
	}

	&.v-label-neutral {
		color: $s-neutral-color;
	}

	&.v-label-positive {
		color: $s-positive-color;
	}

	&.v-label-minor {
		color: $s-minor-color;
	}

	// Labels with colorized bar on top
	&.v-label-bar-top-critical {
		border-top: 4px solid $s-critical-color;
		padding-top: 6px;
	}

	&.v-label-bar-top-important {
		border-top: 4px solid $s-important-color;
		padding-top: 6px;
	}

	&.v-label-bar-top-relevant {
		border-top: 4px solid $s-relevant-color;
		padding-top: 6px;
	}

	&.v-label-bar-top-neutral {
		border-top: 4px solid $s-neutral-color;
		padding-top: 6px;
	}

	&.v-label-bar-top-positive {
		border-top: 4px solid $s-positive-color;
		padding-top: 6px;
	}

	&.v-label-bar-top-minor {
		border-top: 4px solid $s-minor-color;
		padding-top: 6px;
	}

	// Font sizes
	&.v-label-small {
    	font-size: 0.8em;
	}

	&.v-label-medium {
    	font-size: 1em;
	}

	&.v-label-large {
		font-size: 1.25em;
	}

	&.v-label-xlarge {
		font-size: 1.5em;
	}
	
	&.v-label-xxlarge {
		font-size: 2em;
	}

	&.v-label-xxxlarge {
    	font-size: 2.5em;
	}

	// Font styles
	&.v-label-bold {
		font-weight: bold;
	}

	&.v-label-uppercase {
		text-transform: uppercase;
	}

	&.v-label-bottom-line {
		border-bottom: 1px solid #CDD8EC;
	}
  }
}