
@mixin sormas-link {

  .v-link {
    a {
      display: block;
    }

    &.v-link-button {
      @extend .v-button;

      text-decoration: none;

      a {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    &.v-link-button-primary {
      @extend .v-button-primary;

      &:hover {
        background-color: lighten($s-primary-color, 2%)
      }

      &:hover a {
        color: lighten(#FEFEFE, 2%)
      }

      &:active {
        background-color: darken($s-primary-color, 2%)
      }

      &:active a {
        color: darken(#FEFEFE, 2%)
      }
    }
  }
}