
$valo-menu-background-color: $s-default-color !default;

@mixin sormas-menu {
	
  .valo-menu {
    font-size: 16px;
    vertical-align: middle;
    border-right-color: $v-focus-color;
    
    .valo-menu-toggle {
      font-size: 11px;
    }
  
    .valo-menu-title {
      padding: 36px 12px;
      background: $v-background-color;
      color: $s-default-color;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      font-family: 'Source Sans Pro';
      letter-spacing: -1px;  
      border-bottom: 3px solid $s-critical-color;
    }
    
    .valo-menu-part {
      overflow-x: hidden; /* no x-scrollbar */
    }
    
    .valo-menu-logo {
      height: 32px !important;
      width: auto !important;
      background: none;
      box-shadow: none;
      margin: 0;
    }
	  
    .valo-menu-item {
	  color: inherit;
	  text-shadow: none;
	  padding: 8px 16px;
	  line-height: 36px;
		
	  .v-icon {
		color: inherit;
		font-size: 28px;
		min-width: 36px;
	  }
		
	  &.selected {
		background: $v-background-color !important;
	    color: $v-selection-color !important;
		text-shadow: none !important;
		  
		.v-icon {
	      color: #005A9C !important;
		}
		  
		&::before {
		  position: absolute;
		  top: -12px;
		  right: 0px;
		  width: 4px;
		  height: 74px;
		  background-color: $v-selection-color;
		  content: "";
		}
	  }
	}
	
    .v-menubar-user-menu {
    	margin: 8px 0px;
    	text-align: left;
    }
  }
  
  .valo-menu-responsive[width-range~="0-800px"] {
    padding-top: 46px;
	
	.valo-menuitems {
	  top: 41px;
    }
  
    .valo-menu-title {
      height: 38px !important;
    }
    
    .valo-menu-logo {
      margin-top: 1px;
    }
    
    .valo-menu-title {
      margin-top: 3px;
    }
    
    .valo-menu .v-menubar-user-menu {
      top: 3px;
      color: valo-font-color(#fff, 0.9);
    }
  }
    
  // Move logout and settings buttons to the bottom of the menu on large screens
  .v-ui[width-range~="801px-"] .valo-menu-part {
  	.settings-menu {
  	  margin-top: 42px;
  	}
    .logout-menu {
    }
  }
  
  // hide the title for a more compact header when the menu is narrow
  .v-ui[width-range~="801px-1100px"] .valo-menu-part {
    .valo-menu-title .v-label {
      display: none;
    }
  }    

  // Override valo default narrow menu button on small screens to have the full logout text visible
  .v-ui[width-range~="0-500px"] {
    .valo-menu .v-menubar-user-menu .v-menubar-menuitem-caption {
      width: auto;
    }
  }    
}
