
@mixin sormas-notification {
	
	.v-Notification {
		@include valo-notification-closable-style;
		
		&:after {
			line-height: 16px;
		}
	}

	.v-Notification.tray {
		
		&.notification-error {
			background: #cc0000;
			color: white;
			 
			&::after {
				color: white;
				border-color: white;
			}
			 
			.popupContent {}
   				.gwt-HTML {}
      				h1 {color: white;}
      				p  {}
		}
	
	}

}