
@mixin sormas-notification {

	.v-Notification {
		@include valo-notification-closable-style;

		text-align: left;

		&:after {
			line-height: 16px;
		}
	}
	.v-Notification.error {
		top: 322px !important;
	}

	.v-Notification.tray {

		&.notification-error {
			background: #cc0000;
			color: white;

			&::after {
				color: white;
				border-color: white;
			}
			 
			.popupContent {}
   				.gwt-HTML {}
      				h1 {color: white;}
      				p  {}
		}
	
	}

}