
@mixin sormas-optiongroup {
	
  .v-select-optiongroup-horizontal {	
  
	  .v-radiobutton {
	    margin: 0 0 0 -2px !important;
	    padding: 0 !important;
	    border: $v-border;
	    border-radius: 0;
	    font-size: 11px;
	    text-transform: uppercase;
	      
	    &:first-child {
	      border-radius: 4px 0 0 4px; 
	      margin-left: 0 !important;
	    }
	    &:last-child {
	      border-radius: 0 4px 4px 0; 
	    }
	    
	    &.v-radiobutton-disabled label {
	      cursor: default;
	      color: #888;
	    }
	    
	    :root & > input {
	      display: none;
		  
	      & ~ label {
	        margin-bottom: 0;
	        padding: 4px 8px;
	        height: 28px;
	        line-height: 20px;
	      }
	    
		  &:checked ~ label {
	        background: $v-focus-color;
	      }
	
	      & ~ label:before,
	      & ~ label:after {
	        content: none;
	      }
	    }
	  }
		
	  &.soft-required,
	  &.v-required {
	  	.v-radiobutton {
		  border-color: $v-selection-color;
        }
      }
     
      &.error-color-primary {
	  	&.v-select-optiongroup-error {
	  	  .v-radiobutton {
	  	  	border-color: $v-selection-color !important;
	  	  }
	  	}
      }
     
      &.v-select-optiongroup-error {
	  	.v-radiobutton {
	  	  border-color: $v-error-indicator-color;
	  	}
	  }
		
	  &.v-select-optiongroup-caption-inline {
	  	text-align: right;
	  }
	  	
	  &.v-select-optiongroup-horizontal-subtle {
    	margin-top: 10px;
 		.v-radiobutton {
	      border: $v-border-subtle;
    	  font-size: 12px;
 	  	  :root & > input {
 	        &:checked ~ label {
	      	  background: $v-selection-color;
	      	  color: #FFF;
	    	}
	  	  }
		}
  	  }
  }
 
  .v-select-optiongroup {
  	
  	.v-radiobutton {	 
	  &.v-radiobutton-disabled {
	  	& > input {
	  	  & ~ label:before,
	  	  & ~ label:after {
	  	  	border-color: $v-focus-color !important;
	  	  }
	  	}
	    label {
	  	  cursor: default;
	    }
	  }
	}
  	
 	&.soft-required,
 	&.v-required {
	  .v-radiobutton {
	 	& > input {
	  	  & ~ label:before,
	      & ~ label:after {
		    border-color: $v-selection-color;
		  }
        }
	  }
    }
   
  }

  .v-caption-caption-inline {
    float: left;
    padding-top: 7px;
    margin-bottom: -30px;
    font-weight: 500;
    font-size: 12px;
    text-transform: none;
  }
 
}