
@mixin sormas-svg {
	
	// SVG colorization
	.svg-circle {
		fill: none;
		stroke-width: 3;
	}

	.svg-fill-primary {
		fill: $s-primary-color;
	}

	.svg-fill-critical {
		fill: $s-critical-color;
	}

	.svg-fill-important {
		fill: $s-important-color;
	}

	.svg-fill-positive {
		fill: $s-positive-color;
	}

	.svg-fill-minor {
		fill: $s-minor-color;
	}

	.svg-fill-background {
		fill: #E6E6E6;
	}

	.svg-stroke-primary {
		stroke: $s-primary-color;
	}

	.svg-stroke-critical {
		stroke: $s-critical-color;
	}

	.svg-stroke-important {
		stroke: $s-important-color;
	}

	.svg-stroke-positive {
		stroke: $s-positive-color;
	}

	.svg-stroke-minor {
		stroke: $s-minor-color;
	}

	.svg-stroke-background {
		stroke: #E6E6E6;
	}

}