
$v-table-border-width: 1px;


@mixin sormas-table {
  
  .v-table {

    border-bottom: $v-table-border-width solid  $v-focus-color;
  
    .v-table-caption-container, .v-table-cell-content, 
    .v-table-header-wrap, .v-table-body-wrapper, .v-table-footer-wrap  {
      border-left: none;
      border-right: none;
    }

    .v-table-body {
      border: none;
    }

	

    .v-table-row, .v-table-row-odd {
    
      > td, > th {
        background-color: inherit;
      }
    
      .v-table-cell-content {
      
        padding: 0;
        border: 0;
        
        .v-table-cell-wrapper {
	      padding: 3px 6px;
	      white-space: pre-wrap;
        }
      
        &:first-child .v-table-cell-wrapper {
          padding-left: 0;
        }
        &:last-child .v-table-cell-wrapper {
          padding-right: 0;
        }
      
        &.priority-high {
          color: $s-warning-color;
        }
        &.priority-normal {
          color: $s-default-color;
        }
        &.warning {
          color: $s-warning-color;
          font-weight: 600;
        }
      }
    	
      &.status-discarded .v-grid-cell {
        text-decoration: line-through;
        color: #888;
      }
      &.status-done .v-grid-cell {
        color: #888;
      }
      &.status-not .v-grid-cell {
        color: #C44;
      }
    }
    
    .v-table-row-odd {
      background: inherit;
    }

    .v-table-header {

      .v-table-header-cell {
        border-left: none;
        border-bottom: none;

        .v-table-caption-container {
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: $v-border;
        }
      }
      .v-table-header-cell-asc {
        border-left: none;
        border-bottom: none;

        .v-table-caption-container {
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: $v-border;
        }
      }

      .v-table-header-cell-desc {
        border-left: none;
        border-bottom: none;

        .v-table-caption-container {
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: $v-border;
        }
      }
    }
  }



  .v-table-table{
    padding-bottom: 15px;
  }
}


.highcharts-data-table table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    min-width: 25%;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 0.9em;
    
    // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999999; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
 // width: 100%; /* Full width */
 // height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    border: 1px solid silver;
    padding: 0.5em;
}

.highcharts-data-table tr:nth-child(even),
.highcharts-data-table thead tr {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #eff;
}

.highcharts-data-table caption {
    border-bottom: none;
    font-size: 1.1em;
    font-weight: bold;
}
