
@mixin sormas-tabsheet {

  .v-tabsheet {
	
	margin-top: -3px;
	
    .v-tabsheet-tabitemcell {
    
      border-top: $v-border;
      border-top-width: 3px;
      border-top-color: transparent;
      vertical-align: top;
      
      .v-tabsheet-tabitem {
        
        overflow: visible;
        
        .v-caption {
          padding-left: 8px;
          padding-right: 8px;
          margin-top: -3px;
         /* border-bottom: none;*/
          border-top: $v-border; 
          border-top-width: 3px;
          border-top-color: transparent;
          color: $v-selection-color;
          font-weight: 600;
          text-decoration: none;

          a {
            margin-left: -8px;
            margin-right: -8px;
            padding-left: 8px;
            padding-right: 8px;
          }
        }

        &.back {
          border-right: $v-border;
          border-right-width: 3px;
          padding-right: 16px;
        }

        &.selected {
          .v-caption {
           /* border-top-color: $v-selection-color;*/
            font-size: 16px;
          }
        } 
      }
      
      &:first-child {
        margin-left: 20px;
      }
    }
    
    .v-tabsheet-tabcontainer::before {
      content: none;
    }
  }
}

