
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.DS_Store*
.project
.idea

.classpath

.gradle


# Exclude folder content (except .gitkeep)
Reports/*
!Reports/.gitkeep

Checkpoints/*
!Checkpoints/.gitkeep
