
/bin/
/Libs/
/.settings/
/.classpath
.svn/

.project
.idea

.classpath

.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

Checkpoints

/settings/internal/com.kms.katalon.composer.testcase.properties

