
$v-textfield-background-color--readonly: $v-app-background-color !default;

@mixin sormas-valo-textfield {

  .v-textfield {
  
    &.v-readonly {
      border: none;
      padding: 0;
      background: inherit;
      color: inherit;
      height: inherit;
   }
  }
}