/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: the style is applied only to the textfields which has the `bordered` theme attribute. */


:host([active]) a:hover{
	background: red !important;
    color: #ffffff !important;
    text-shadow: none !important;
}