
@mixin sormas-dashboard-view {

  .dashboard-screen {
	  overflow-x: hidden;
  }
  
  .dashboard-key {
  	text-align: center;
  	outline: none;
  	-webkit-tap-highlight-color: transparent;
  	-webkit-touch-callout: none;
  	padding: 7px;
  	color: #191919;
  	font-weight: 500;
  	
  	border-radius: 4px;
  	border: 1px solid #c5c5c5;
  	border-top-color: #c5c5c5;
  	border-bottom-color: #bcbcbc;
  	background-color: #fafafa;
  }
  
  .curve-and-map-layout {
  	background-color: $v-focus-color;
  }
 
  .highlighted-statistics-component {
  	background-color: $v-focus-light-color;
  	padding-top: 16px;
  }

  .statistics-sublayout {
  	background-color: $v-focus-light-color;
  }
 
  .cfr-info-button {
    margin-top: -3px;	
  }
 
  .follow-up-status-info-button {
  	margin-top: 10px;
  }
 
  hr {
  	margin-top: 0px;
  	margin-bottom: 0px;
  }
  
  .background-highlight {
  	background-color: #F28A35;
  }
  .background-critical {
  	background-color: #DE5555;
  }

	.map-container {
		position: relative;
	}

	.map-component {
		z-index: 1;
	}

	.map-overlay, .map-overlay-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.map-overlay-background {
		background-color: #222;
		opacity: 0.6;
		z-index: 2;
	}

	.map-overlay {
		z-index: 3;
	}
}