
@mixin sormas-dashboard-view {
  .heading-title-label {
	  margin-top: 12px;
  }

  .dashboard-screen {
	  overflow-x: hidden;
  }
  
  .dashboard-key {
  	text-align: center;
  	outline: none;
  	-webkit-tap-highlight-color: transparent;
  	-webkit-touch-callout: none;
  	padding: 7px;
  	color: #191919;
  	font-weight: 500;
  	
  	border-radius: 4px;
  	border: 1px solid #c5c5c5;
  	border-top-color: #c5c5c5;
  	border-bottom-color: #bcbcbc;
  	background-color: #fafafa;
  }
  
  .curve-and-map-layout {
  	background-color: $v-focus-color;
  }
 
  .highlighted-statistics-component {
  	background-color: $v-focus-light-color;
  	padding-top: 16px;
  }

  .statistics-sublayout {
  	background-color: $v-focus-light-color;
  }
 
  .cfr-info-button {
    margin-top: -3px;	
  }
 
  .follow-up-status-info-button {
  	margin-top: 10px;
  }

  .statistics-info-label {
	margin-top: 10px;
  }
 
  hr {
  	margin-top: 0px;
  	margin-bottom: 0px;
  }
  
  .background-highlight {
  	background-color: #EDF2FD;
  }
  .background-critical {
  	background-color: #DE5555;
  }

	.map-container {
		position: relative;
	}

	.map-component {
		z-index: 1;
	}

	.map-overlay, .map-overlay-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.map-overlay-background {
		background-color: #222;
		opacity: 0.6;
		z-index: 2;
	}

	.map-overlay {
		z-index: 3;
	}

	.background-external-lab-samples {
		background-color: #3E489B;
		fill: #3E489B;
	}
	.background-internal-lab-samples {
		background-color: #7565B8;
		fill: #7565B8;
	}

	.background-specimen-condition-adequate {
		background-color: #5a95f4;
		fill: #5a95f4;

		&.background-darker {
			background-color: #3b7fed;
			fill: #3b7fed;
		}
	}

	.background-specimen-condition-inadequate {
		background-color: #FEBA01;
		fill: #FEBA01;

		&.background-darker {
			background-color: #E5A701;
			fill: #E5A701;
		}
	}

	.background-specimen-condition-not-specified {
		background-color: #8C45AD;
		fill: #8C45AD;

		&.background-darker {
			background-color: #7E3E9C;
			fill: #7E3E9C;
		}
	}

	.background-shipment-status-shipped {
		background-color: #44BEC7;
		fill: #44BEC7;

		&.background-darker {
			background-color: #3DABB3;
			fill: #3DABB3;
		}
	}
	.background-shipment-status-not-shipped {
		background-color: #ef5a6c;
		fill: #ef5a6c;

		&.background-darker {
			background-color: #e04a5b;
			fill: #e04a5b;
		}
	}
	.background-shipment-status-received {
		background-color: #E2D320;
		fill: #E2D320;

		&.background-darker {
			background-color: #CBBE1D;
			fill: #CBBE1D;
		}
	}

	.popupContent .marker.sample {
		position: relative;
	}

	.popupContent .marker.sample:after {
		font-size: 16px;
	}

	.popupContent .marker.aefi {
		position: relative;
	}

	.popupContent .marker.aefi:after {
		font-size: 16px;
	}
}
