
@mixin sormas-dashboard-view {

  .dashboard-screen {
	  overflow-x: hidden;
  }
  
  .dashboard-key {
  	text-align: center;
  	outline: none;
  	-webkit-tap-highlight-color: transparent;
  	-webkit-touch-callout: none;
  	padding: 7px;
  	color: #191919;
  	font-weight: 500;
  	
  	border-radius: 4px;
  	border: 1px solid #c5c5c5;
  	border-top-color: #c5c5c5;
  	border-bottom-color: #bcbcbc;
  	background-color: #fafafa;
  }
  
  .curve-and-map-layout {
  	background-color: $v-focus-color;
  }
 
  .highlighted-statistics-component {
  	background-color: $v-focus-light-color;
  	padding-top: 16px;
  }
 
  .cfr-info-button {
    margin-top: -3px;	
  }
 
  .follow-up-status-info-button {
  	margin-top: 10px;
  }
 
  hr {
  	margin-top: 0px;
  	margin-bottom: 0px;
  }
  
  .background-color-highlight {
  	background-color: #EDF2FD;
  }
  .background-color-disease-cholera {
  	background-color: #FEBA01;
  	fill: #FEBA01;
  	
  	&.background-darken {
  		background-color: #E5A701;
  		fill: #E5A701;
  	}
  }
  .background-color-disease-csm {
  	background-color: #59BDEF;
  	
  	&.background-darken {
  		background-color: #50AAD7;
  	}
  }
  .background-color-disease-dengue {
  	background-color: #44BEC7;
  	fill: #44BEC7;
  	
  	&.background-darken {
  		background-color: #3DABB3;
  		fill: #3DABB3;
  	}
  }
  .background-color-disease-evd {
  	background-color: #8C45AD;
  	
  	&.background-darken {
  		background-color: #7E3E9C;
  	}
  }
  .background-color-disease-lassa {
  	background-color: #EA579B;
  	
  	&.background-darken {
  		background-color: #D34E8B;
  	}
  }
  .background-color-disease-measles {
  	background-color: #66AD45;
  	
  	&.background-darken {
  		background-color: #5C9C3E;
  	}
  }
  .background-color-disease-monkeypox {
  	background-color: #FF9299;
  	
  	&.background-darken {
  		background-color: #E5838A;
  	}
  }
  .background-color-disease-new-flu {
  	background-color: #4550AC;
  	
  	&.background-darken {
  		background-color: #3E489B;
  	}
  }
  .background-color-disease-plague {
  	background-color: #8270CC;
  	
  	&.background-darken {
  		background-color: #7565B8;
  	}
  }
  .background-color-disease-yellow-fever {
  	background-color: rgb(255, 0, 0);
  	
  	&.background-darken {
  		background-color: rgb(229, 0, 0);
  	}
  }
  .background-color-disease-other {
  	background-color: rgb(255, 0, 0);
  	
  	&.background-darken {
  		background-color: rgb(229, 0, 0);
  	}
  }
}