
@mixin sormas-sample-count-styles {

  .background-sample-count-total {
  background-color: #00b3b3;
  fill: #00b3b3;
  margin-bottom: 20px;
  	
  	&.background-darker {
  background-color: #008B8B;
  fill: #008B8B;;
  	}
  }
  .background-sample-count-adequate {
  background-color: #40bf79;
  fill: #40bf79;
  margin-bottom: 20px;
  	
  	&.background-darker {
  background-color: #2d8655;
  fill: #2d8655;
  }
  }
  .background-sample-count-inadequate{
  background-color: #EF5A6C;
  fill: #EF5A6C;
  margin-bottom: 20px;

  	&.background-darker {
  background-color: #E04A5B;
  fill: #E04A5B;
  }
  }
  .background-sample-count-positives {
  background-color: #EF5A6C;
  fill: #EF5A6C;
  margin-bottom: 20px;
  	
  	&.background-darker {
  background-color: #E04A5B;
  fill: #E04A5B;
  }
  }
  .background-sample-count-negatives {
  background-color: #40BF79;
  fill: #40BF79;
  margin-bottom: 20px;

  &.background-darker {
  background-color: #2D8655;
  fill: #2D8655;
  }
  }
  .background-sample-count-indeterminate{
  background-color: #888888;
  fill: #888888;
  margin-bottom: 20px;
  	&.background-darker {
  background-color: #6D6D6D;
  fill: #6D6D6D;
  }
  }
  .background-sample-count-pendings {
  background-color: #FEBA01;
  fill: #FEBA01;
  margin-bottom: 20px;
  	&.background-darker {
  background-color: #D69C0A;
  fill: #D69C0A;
  	}
  }
  .background-sample-count-shipped {
  background-color: #40BF79;
  fill: #40BF79;
  margin-bottom: 20px;

  	&.background-darker {
  background-color: #2D8655;
  fill: #2D8655;
  }
  }
  .background-sample-count-not-shipped {
  background-color: #EF5A6C;
  fill: #EF5A6C;
  margin-bottom: 20px;

  &.background-darker {
  background-color: #E04A5B;
  fill: #E04A5B;
  }
  }
  .background-sample-count-received {
  background-color: #40BF79;
  fill: #40BF79;

  margin-bottom: 20px;

  &.background-darker {
  background-color: #2D8655;
  fill: #2D8655;
  }
  }
  .background-sample-count-not-received  {
  background-color: #EF5A6C;
  fill: #EF5A6C;
  margin-bottom: 20px;

  &.background-darker {
  background-color: #E04A5B;
  fill: #E04A5B;
  }
  }
 

  #sample-card-wrapper .v-layout.v-horizontal.v-widget{
    display: flex !important;
    flex-wrap: wrap !important;
    white-space: normal !important;
    width: 100%;
  }
}