@CHARSET "ISO-8859-1";

.vspace0 {
	margin-bottom: 64px;
}

.vspace1 {
	margin-bottom: 36px;
}

.vspace2 {
	margin-bottom: 20px;
}

.vspace3 {
	margin-bottom: 10px;
}

.vspace4 {
	margin-bottom: 6px;
}

.vspace5 {
	margin-bottom: 2px;
}

.vspacetop0 {
	margin-top: 64px;
}

.vspacetop1 {
	margin-top: 36px;
}

.vspacetop2 {
	margin-top: 20px;
}

.vspacetop3 {
	margin-top: 10px;
}

.vspacetop4 {
	margin-top: 6px;
}

.vspacetop5 {
	margin-top: 2px;
}

.captionspace {
	margin-top: 21px;
}